// app global css in Sass form
@use "./interpolate" as r

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus
//   -webkit-text-fill-color: black
//   -webkit-box-shadow: 0 0 0 1000px $bg-primary inset !important
//   transition: background-color 300ms ease-in-out 0s
// .q-field--outlined .q-field__control:before
//   z-index: 1

.custom-input input
  color: white !important

.debug
  border: 1px solid red
  *
    border: 1px solid green
    *
      border: 1px solid blue

.debugdeep
  border: 1px solid red
  *
    border: 1px solid green
    *
      border: 1px solid blue
      *
        border: 1px solid orange
        *
          border: 1px solid magenta
          *
            border: 1px solid cyan

.label
  @include r.interpolate(font-size, 320px, 2560px, 12px, 30px)
  color: white

.bigger
  @include r.interpolate(font-size, 320px, 2560px, 14px, 40px)
  @include r.interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem)
  color: white
  font-weight: bold

.r-py-md
  @include r.interpolate((padding-bottom, padding-top), 320px, 2560px, 8px, 20px)

.r-pt-md
  @include r.interpolate(padding-top, 320px, 2560px, 16px, 40px)

.r-py-lg
  @include r.interpolate((padding-bottom, padding-top), 320px, 2560px, 18px, 45px)

.r-pt-lg
  @include r.interpolate(padding-top, 320px, 2560px, 36px, 90px)
